@CHARSET "ISO-8859-1";

body {
	width: 80%;
	margin: 0 auto;
}

.ui-selectonemenu {
	width: 40% !important;
}

.ui-selectonemenu-label {
	width: 90% !important;
}

.ui-menuitem:last {
	float: right !important;
}

#form {
	margin: 30px !important;
}

.usersColumn {
	width: 300px !important;
}

.chatlogs {
	word-break: break-word !important;
}

.form-pesquisa {
	margin: 30px !important;
}

.ui-menuitem>button {
	float: right !important;
}

.ui-menuitem>.ui-state-default {
	display:inline-block !important;
	border-radius: 0 40px 40px 0 !important;
	margin: 5px !important;
}

.form-pesquisa>input {
	margin: 5px !important;
}

.ui-panelgrid>tbody>tr>td {
	width: 50% !important;
	vertical-align: top;
}

.ui-panelgrid>tbody>tr {
	height: 45px;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 90% !important;
}