@CHARSET "ISO-8859-1";

body {
	width: 80%;
	margin: 0px auto;
}

.ui-selectonemenu {
	width: 40% !important;
}

.ui-selectonemenu-label {
	width: 90% !important;
}

.ui-menuitem:last {
	float: right !important;
}